@page "/article/read/{Id}"


@if (_loading)
{
    <MudCard>
        <MudCardContent>
            <MudSkeleton Width="30%" Height="42px;"/>
            <MudSkeleton Width="80%"/>
            <MudSkeleton Width="100%"/>
            <MudSkeleton Width="100%"/>
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px"/>
            <MudSkeleton Width="100%"/>
            <MudSkeleton Width="100%"/>
            <MudSkeleton Width="100%"/>
        </MudCardContent>
        <MudCardActions>
            <MudSkeleton Width="64px" Height="40px" Class="ml-2"/>
            <MudSkeleton Width="105px" Height="40px" Class="ml-3"/>
        </MudCardActions>
    </MudCard>
}
else
{
    <div class="article-detail-title">
        @_article.Title
    </div>
    <div class="article-detail-info">
        <span>
            <MudTooltip Text="@_article.CreateTime.ToString("yyyy/MM/dd HH:mm:ss")">
                <time datetime="@_article.CreateTime.ToString("yyyy/MM/dd HH:mm:ss")">@_article.CreateTime.TimeAgo()</time>发布
            </MudTooltip>
        </span>
        <span>作者：@_article.Author.Name</span>
        <span>浏览量：@_article.ViewCount</span>
    </div>
    <div class="article-detail-content">
        <blockquote class="introduction">
            @((MarkupString)_article.Introduction)
        </blockquote>
        @if (_article.Tags.Any(x => x == "cnBeta"))
        {
            <MarkdownPreview Class="article" Markdown="@_article.Markdown"></MarkdownPreview>
        }
        else
        {
            <MarkdownPreview Markdown="@_article.Markdown"></MarkdownPreview>
        }
    </div>
    <div style="margin: 1em 0">
        <MudText Typo="Typo.h5">评论区</MudText>
        <hr class="hr-5"/>
        <Comment Node="CommentNode.Article" Relation="@_article?.Id"></Comment>
    </div>
}