@page "/"

@if (_isLoading)
{
    <MudCard>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="300px"/>
    </MudCard>

    <MudCard>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px"/>
        <MudCardContent>
            <MudSkeleton Width="30%" Height="42px;"/>
            <MudSkeleton Width="80%"/>
            <MudSkeleton Width="100%"/>
        </MudCardContent>
        <MudCardActions>
            <MudSkeleton Width="64px" Height="40px" Class="ml-2"/>
            <MudSkeleton Width="105px" Height="40px" Class="ml-3"/>
        </MudCardActions>
    </MudCard>
}
else
{
    <MudCarousel 
        Class="mud-width-full" 
        Style="@BannerStyle()" 
        ShowDelimiters="true"
        ShowArrows="true" 
        ShowBullets="true" 
        EnableSwipeGesture="true" 
        AutoCycle="true" 
        SelectedIndex="0"
        TData="object">
        @foreach (var item in _banner)
        {
            <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
                <div class="d-flex" style="height:100%">
                    <img src="@item.AccessUrl" alt="@item.Description"/>
                    <div class="banner-information">
                        @if (!string.IsNullOrEmpty(item.Description))
                        {
                            <span>@item.Description</span>
                        }
                    </div>
                </div>
            </MudCarouselItem>
        }
    </MudCarousel>
    <Articles Data="_source"></Articles>
}